img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
html {
    padding: 50px;
    background-color: rgb(174, 176, 179);
}
.container1 { 
    padding: 10px;
    width: 350px;
    text-align: right;
    position: fixed;
    float: left;
    top: 20px;
    
}
.container2 {
    padding: 10px;
    width: 530px;
    position: fixed;
    float: left;
    left: 467px;
    top: 20px;
}
.line {
    height: 800px;
    border-left: 1px solid black;
    position: fixed;
    left: 445px;
    display: flex;
}
#sign {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

