.MainPage {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 1440px;
  height: 1882px;
}
.SecondPage {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 1440px;
  height: 1480px;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}

.layout-container {
  float: left;
  width: 50%;
}