.slide-menu {
    width: 348px;
    height: 3323px;
    padding: 10px;
    background-color: aqua;
}
.menu-1 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 37px;
    font-size: 14px;
    align-items: center;
    margin: 5px;
    font-weight: bold;
}
#iblog {
    color: #FC9419;
    font-size: 30px;
}
.letter {
    color: red;
    font-size: 30px;
}