html {
    background-color: gray;
}
#main {
    width: 900px;
    height: 1100px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}
#hd {
    background-color: rgb(49, 73, 87);
    height: 110px;
    text-align: center;
    justify-content: center;
    color: white;
}
li {
    display: inline;
    padding-right: 20px;
}
.pad1 {
    height: 190px;
    margin-top: 30px;
    text-align: left;
    position: relative;
    color: black;
}
.image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top: 38px;
}
image {
    width: 300px;
}
#ft { 
        background-color: rgb(76, 77, 78);
        height: 100px;
        text-align: center;
        color: white;
        position: absolute;
        width: 880px;
        bottom: 100px;
}
figcaption {
    position: absolute;
    bottom: -120px;
    color: white;
}
#subft {
    position: absolute;
    top: 33px;
    left: 355px;
    font-size: 32px;
}
.st2 {
    color: rgb(109, 106, 106);
}
.od {
    color: aqua;
}
#b1 {
    display: inline-block;
    width: 50px;
    background-color: green;
    text-align: center;
    color: white;
}
#b2 {
    display: inline-block;
    width: 60px;
    background-color: blue;
    text-align: center;
    color: white;
}
#b3 {
    display: inline-block;
    width: 80px;
    background-color: red;
    text-align: center;
    color: white;
}
#b4 {
    display: inline-block;
    width: 100px;
    background-color: gray;
    text-align: center;
    color: white;
}
.tx {
    font-family: sans-serif;
    color: rgb(107, 167, 164);
}
b {
    font-size: 28px;
}