.background {
    width: 1369px;
    height: 3293px;
    display: flex;
    background-color:white;
}

.slide-menu {
    position: relative;
    width: 268px;
    height: 1802px;
    padding: 40px 49px;
    background-color: none;
    box-shadow: 1px 1px 1px gray;;
}
.iblog {
    position: relative;
    width: 250px;
    height: 533px;
}
#let {
    color: #F77268;
    font-size: 30px;
}
#tter {
    font-size: 30px;
    color: #FC9419;
}
.frame {
    position: relative;
    height: 37px;
    width: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 1px 1px 1px gray;
}
.search-bar {
    position: relative;
    width: 1091px;
    height: 40px;
    color: black;
    background-color: rgb(117, 117, 117);
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
input {
    position: relative;
    width: 572px;
    height: 39px;
    border-radius: 20px;
    border: none;
}
#bt1 {
    border-radius: 10px;
    border: 1px solid var(--grey-dark-grey-4, #DCE3EA);
    background: var(--grey-light-white, #FFF);
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
}
#bt2 {
    border-radius: 10px;
    background: var(--iblog-primary, #E86B02);
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
}
.container {
    position: absolute; 
    width: 981px;
    left: 356px;
    top: 18%;
    padding: 20px;
    padding-bottom: 24%;
}
.lhead {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.lfinal {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.lfinal button {
    width: 141px;
    height: 48px;
}
.lhead button {
    width: 131.4px;
    height: 44.84px;
}

#hbtn1 {
    flex-grow: 0;
    border: none;
    background: none;
}
#hbtn2 {
    flex-grow: 8;
    border: none;
    background: none;
}
#hbtn3 {
    flex-grow: 0;
    border: none;
    cursor: pointer;
    background: none;
}
.box-container {
    display: flex;
    margin: 10px auto;
    overflow: hidden;
    justify-content: space-around;
}
.box {
    padding: 3px;
    height: 288.71px;
    width: 210px;
}
.subrow {
   font-size: 14px;
   display: flex;
   justify-content: space-between;
}
.subrow span {
    display: flex;
    align-items: center;
}
footer {
    position: absolute; 
    width: 981px;
    height: 190px;
    left: 356px;
    top: 172.9%;
    padding: 20px;
    background-color: rgb(207, 207, 204);
}
.final {
    
}