.main {
    width: 1439px;
    height: 1802px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-bottom: 1px solid var(--grey-light-grey-3, #E2E8EE);
    background: #FFF;
}
.slide-bar{
    padding: 40px;
    height: 1802px;
    border-bottom: 1px solid var(--grey-light-grey-3, #E2E8EE);
    background: #FFF;
}
.i {
    font-size: 30px;
    color: #F77268;
}
.blog {
    font-size: 30px;
    color: #FC9419;
}
.left-bar {
    display: grid;
    grid-template-rows: 1fr 8fr 8fr 8fr 8fr;
    height: 1802px;
    border-bottom: 1px solid var(--grey-light-grey-3, #E2E8EE);
    background: #FFF;
}
.search-row1 {
    display: grid;
    grid-template-rows: 1fr;
    border-bottom: 1px solid var(--grey-light-grey-3, #E2E8EE);
    background: #FFF;
}
.search-row2 {
 
}
#title {
    width: 250px;
    height: 533px;
}

.slide-box {
    display: block;
    width: 250px;
    height: 37px;
    background-color: white;
    margin: 5px auto;
    cursor: pointer;
    align-items: center;
}
ul {
    display: block;
}
.slide-box {
    position: relative;
    margin: 15px auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
.sub-slide {
    position: relative;
    width: 150px;
    height: 37px;
    margin: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
    color: black;
    border-radius: 5px;
}
.sub-slide:hover {
    background-color: #E86B02;
}
input {
    width: 572px;
    height: 39px;
    border-radius: 20px;
}
#box-search {
    position: relative;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px blue;
    border-radius: 20px;
}
#enter {
    font-size: 28px;
    height: 39px;
    width: 50px;
}
#search-btn {
    display: flex;
    justify-content: space-around;
}
#login{
    width: 149px;
    height: 41px;
    font-size: 16px;
    color: #E86B02;
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-weight: bold;
}
#signin {
    width: 149px;
    height: 41px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-weight: bold;
    color: white;
    background-color: #E86B02;
}
#external {
    border-radius: 29px;
    border: 5px;
    border-color: white;
}
.lhead {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    height: 47.32px;
}
#hbtn1 {
    flex-grow: 0;
    border: none;
    background: none;
}
#hbtn2 {
    flex-grow: 8;
    border: none;
    background: none;
}
#hbtn3 {
    flex-grow: 0;
    border: none;
    cursor: pointer;
    background: none;
}
.box-container {
    display: flex;
    margin: 10px auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    gap: 10px;
    border-bottom: 1px solid var(--grey-light-grey-3, #E2E8EE);
    background: #FFF;
}
.box {
    padding: 3px;
    height: 288.71px;
    width: 210px;
}
.lhead-ct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.subrow {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
 }
 .subrow span {
     display: flex;
     align-items: center;
 }
 .lfinal {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.lfinal button {
    width: 141px;
    height: 48px;
    border-radius: 10px;
    border: none;
    margin: 50px auto;
}
#search-row3 {
    height: 190px;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
}
#super_final {
    background-color: white;
}
#fcs {
    color: #4D5A66;
    font-family: 'Okta Neue';
    font-size: 9.973px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hcs {
    color: var(--secondary-800, #181A2A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 131.25% */
}
.lcs {
    color: var(--secondary-600, #3B3C4A);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
}
button {
    cursor: pointer;
}